spring:
  datasource:
    url: jdbc:mysql://inventory-db.ca5ms60uiz5z.us-east-1.rds.amazonaws.com:3306/inventorydb
    username: admin
    password: Snehadhage$

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
